Case Study-Titan Insurance Company

In [1]:
import pandas as pd
import numpy as np

In [4]:
#Loading the file
payment_scheme = pd.read_csv('Payment Scheme.csv', header = 0)
payment_scheme

    SALESPERSON  Old Scheme  New Scheme
0             1          57          62
1             2         103         122
2             3          59          54
3             4          75          82
4             5          84          84
5             6          73          86
6             7          35          32
7             8         110         104
8             9          44          38
9            10          82         107
10           11          67          84
11           12          64          85
12           13          78          99
13           14          53          39
14           15          41          34
15           16          39          58
16           17          80          73
17           18          87          53
18           19          73          66
19           20          65          78
20           21          28          41
21           22          62          71
22           23          49          38
23           24          84          95
24           25          63          81
25           26          77          58
26           27          67          75
27           28         101          94
28           29          91         100
29           30          50          68

1. Find the mean of old scheme and new scheme column.

In [25]:
old_scheme_mean = payment_scheme['Old Scheme'].mean()
new_scheme_mean = payment_scheme['New Scheme'].mean()
print("Mean of Old scheme is : ", old_scheme_mean)
print("Mean of New scheme is : ", new_scheme_mean)

Mean of Old scheme is :  68.03333333333333
Mean of New scheme is :  72.03333333333333

2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs?

Null Hypothesis : Old scheme mean is equal to New scheme mean
    
Alternative Hypothesis : Mean of new scheme is greater than mean of old scheme

Sample size is 30 so I am using  t-test here.
For Hypotesis analysis I am using two sampled paired t-test because here we are checking the effect of new scheme over the existing scheme

In [34]:
from scipy import stats
oldscheme = payment_scheme['Old Scheme']
newscheme = payment_scheme['New Scheme']
# print(oldscheme, newscheme)
payment_scheme[['Old Scheme','New Scheme']].describe()
ttset, pval = stats.ttest_rel(payment_scheme['Old Scheme'], payment_scheme['New Scheme'])

In [36]:
print("P-Value",pval)

P-Value 0.13057553961337662

In [40]:
if pval < 0.05:
    print("Rejecting Null Hypothesis")

if pval > 0.05:
    print("Accepting Null Hypothesis")

Accepting Null Hypothesis

Output: New scheme has not raised the sales. New scheme to increase the sales has failed

3. What conclusion does the test (p-value) lead to?

P value is higher than the 0.05 ( 95% confidence level) that shows that null hypothesis is true. 
So we can conclude that new scheme is not significantly increasing the sales. 
So we should not consider this new scheme.

4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by Â£5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:

The probability of a type 1 error? (2.5 points)

What is the p- value of the hypothesis test if we test for a difference of $5000? (10 points)

Power of the test (5 points)

Q: The probability of a type 1 error?

Ans: Here Confidence level is 95% that means we are willing to accept maximum 5% chances to be wrong i.e. we have 5% chance to reject the Null hypothesis when it's true (Type 1 error)

Q: What is the p- value of the hypothesis test if we test for a difference of $5000?

new_scheme_mean1 = new_scheme_mean + 5
ttset, pval = stats.ttest_rel(payment_scheme['Old Scheme'], payment_scheme['New Scheme']+5)

In [44]:
print("P-value of test with a difference of $5000 is :",pval)

P-value of test with a difference of $5000 is : 0.0015212146316676064

Here value of p is < 0.05 that means we will regect the null hypothesis. 
So we can say that now if average output of new scheme increases by $5000 new scheme will make a significant difference in sales.

Q: Power of the test

In [50]:
import statsmodels.stats.power as smp
smp.ttest_power(0.8, nobs=30, alpha=0.05, alternative='larger')

0.9957521510723527

Here, by the above power test I can conclude that 99.57% of the time this test will correctly reject the null hypothesis.