In [1]:
import numpy as np
import pandas as pd

In [2]:
df_bank = pd.read_csv("bank.csv")

In [3]:
df_bank.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
df_bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [5]:
df_bank.isna().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [6]:
df_bank.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
RowNumber,10000.0,5.000500e+03,2886.895680,1.00,2500.75,5.000500e+03,7.500250e+03,10000.00
CustomerId,10000.0,1.569094e+07,71936.186123,15565701.00,15628528.25,1.569074e+07,1.575323e+07,15815690.00
CreditScore,10000.0,6.505288e+02,96.653299,350.00,584.00,6.520000e+02,7.180000e+02,850.00
Age,10000.0,3.892180e+01,10.487806,18.00,32.00,3.700000e+01,4.400000e+01,92.00
Tenure,10000.0,5.012800e+00,2.892174,0.00,3.00,5.000000e+00,7.000000e+00,10.00
Balance,10000.0,7.648589e+04,62397.405202,0.00,0.00,9.719854e+04,1.276442e+05,250898.09
NumOfProducts,10000.0,1.530200e+00,0.581654,1.00,1.00,1.000000e+00,2.000000e+00,4.00
HasCrCard,10000.0,7.055000e-01,0.455840,0.00,0.00,1.000000e+00,1.000000e+00,1.00
IsActiveMember,10000.0,5.151000e-01,0.499797,0.00,0.00,1.000000e+00,1.000000e+00,1.00
EstimatedSalary,10000.0,1.000902e+05,57510.492818,11.58,51002.11,1.001939e+05,1.493882e+05,199992.48
Exited,10000.0,2.037000e-01,0.402769,0.00,0.00,0.000000e+00,0.000000e+00,1.00

2. Drop the columns which are unique for all users like IDs

In [7]:
#Removing RowNumber, CustomerId and Surname because they are unique for every customer and will not effect with prediction.
df_bank = df_bank.drop(['RowNumber','CustomerId','Surname'], axis =1)

In [8]:
df_bank.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

3. Distinguish the feature and target set

In [10]:
features = df_bank.drop(['Exited'], axis =1)
target = df_bank['Exited']

In [11]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int64(6), object(2)
memory usage: 781.3+ KB

Label Encoding for variables with object type

In [12]:
from sklearn import preprocessing

le1 = preprocessing.LabelEncoder()
le2 = preprocessing.LabelEncoder()

features["Geography"] = le1.fit_transform(features["Geography"])
features["Gender"] = le2.fit_transform(features["Gender"])

In [13]:
features.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
CreditScore        10000 non-null int64
Geography          10000 non-null int32
Gender             10000 non-null int32
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
dtypes: float64(2), int32(2), int64(6)
memory usage: 703.2 KB

In [14]:
#Spilitting the Dataset into training and test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.3)

In [15]:
#Normalizing the features

from sklearn.preprocessing import StandardScaler
z = StandardScaler()
X_train = z.fit_transform(X_train)
X_test = z.transform(X_test)

C:\Users\rahul\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\rahul\Anaconda3\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: DataConversionWarning: Data with input dtype int32, int64, float64 were all converted to float64 by StandardScaler.

In [16]:
X_train.shape

(7000, 10)

In [17]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [18]:
#Initializing Neural Network
classifier = Sequential()
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 10))
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))
# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

WARNING:tensorflow:From C:\Users\rahul\Anaconda3\lib\site-packages\tensorflow\python\framework\op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=10, units=6, kernel_initializer="uniform")`
  after removing the cwd from sys.path.
C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`

In [19]:
# Compiling Neural Network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [20]:
# Fitting our model 
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

WARNING:tensorflow:From C:\Users\rahul\Anaconda3\lib\site-packages\tensorflow\python\ops\math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.

C:\Users\rahul\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
7000/7000 [==============================] - 3s 367us/step - loss: 0.4915 - acc: 0.7960
Epoch 2/100
7000/7000 [==============================] - 2s 316us/step - loss: 0.4345 - acc: 0.7963
Epoch 3/100
7000/7000 [==============================] - 2s 355us/step - loss: 0.4313 - acc: 0.7963
Epoch 4/100
7000/7000 [==============================] - 3s 359us/step - loss: 0.4277 - acc: 0.7963
Epoch 5/100
7000/7000 [==============================] - 2s 339us/step - loss: 0.4232 - acc: 0.8097
Epoch 6/100
7000/7000 [==============================] - 1s 189us/step - loss: 0.4202 - acc: 0.8229
Epoch 7/100
7000/7000 [==============================] - 2s 239us/step - loss: 0.4179 - acc: 0.8237
Epoch 8/100
7000/7000 [==============================] - 2s 335us/step - loss: 0.4153 - acc: 0.8286
Epoch 9/100
7000/7000 [==============================] - 2s 321us/step - loss: 0.4141 - acc: 0.8300
Epoch 10/100
7000/7000 [==============================] - 2s 288us/step - loss: 0.4124 - acc: 0.8291
Epoch 11/100
7000/7000 [==============================] - 2s 291us/step - loss: 0.4113 - acc: 0.8313
Epoch 12/100
7000/7000 [==============================] - 2s 350us/step - loss: 0.4100 - acc: 0.8304
Epoch 13/100
7000/7000 [==============================] - 2s 337us/step - loss: 0.4084 - acc: 0.8313
Epoch 14/100
7000/7000 [==============================] - 1s 191us/step - loss: 0.4079 - acc: 0.8321
Epoch 15/100
7000/7000 [==============================] - 2s 281us/step - loss: 0.4068 - acc: 0.8316
Epoch 16/100
7000/7000 [==============================] - 2s 311us/step - loss: 0.4060 - acc: 0.8331
Epoch 17/100
7000/7000 [==============================] - 2s 343us/step - loss: 0.4054 - acc: 0.8326
Epoch 18/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.4045 - acc: 0.8343
Epoch 19/100
7000/7000 [==============================] - 3s 367us/step - loss: 0.4042 - acc: 0.8350
Epoch 20/100
7000/7000 [==============================] - 2s 303us/step - loss: 0.4033 - acc: 0.8340
Epoch 21/100
7000/7000 [==============================] - 2s 301us/step - loss: 0.4025 - acc: 0.8359
Epoch 22/100
7000/7000 [==============================] - 1s 213us/step - loss: 0.4027 - acc: 0.8349
Epoch 23/100
7000/7000 [==============================] - 2s 352us/step - loss: 0.4022 - acc: 0.8359
Epoch 24/100
7000/7000 [==============================] - 2s 340us/step - loss: 0.4019 - acc: 0.8346
Epoch 25/100
7000/7000 [==============================] - 3s 368us/step - loss: 0.4015 - acc: 0.8353
Epoch 26/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.4012 - acc: 0.8356
Epoch 27/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.4012 - acc: 0.8337
Epoch 28/100
7000/7000 [==============================] - 2s 254us/step - loss: 0.4005 - acc: 0.8351
Epoch 29/100
7000/7000 [==============================] - 2s 235us/step - loss: 0.4007 - acc: 0.8367
Epoch 30/100
7000/7000 [==============================] - 2s 348us/step - loss: 0.4005 - acc: 0.8346
Epoch 31/100
7000/7000 [==============================] - 3s 360us/step - loss: 0.3997 - acc: 0.8383
Epoch 32/100
7000/7000 [==============================] - 2s 300us/step - loss: 0.4003 - acc: 0.8364
Epoch 33/100
7000/7000 [==============================] - 3s 375us/step - loss: 0.4001 - acc: 0.8359
Epoch 34/100
7000/7000 [==============================] - 2s 325us/step - loss: 0.3998 - acc: 0.8350
Epoch 35/100
7000/7000 [==============================] - 2s 280us/step - loss: 0.3995 - acc: 0.8350
Epoch 36/100
7000/7000 [==============================] - 2s 231us/step - loss: 0.3992 - acc: 0.8366
Epoch 37/100
7000/7000 [==============================] - 2s 300us/step - loss: 0.3996 - acc: 0.8356
Epoch 38/100
7000/7000 [==============================] - 3s 361us/step - loss: 0.3992 - acc: 0.8330
Epoch 39/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3993 - acc: 0.8350
Epoch 40/100
7000/7000 [==============================] - 2s 317us/step - loss: 0.3989 - acc: 0.8349
Epoch 41/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3992 - acc: 0.8347
Epoch 42/100
7000/7000 [==============================] - 2s 348us/step - loss: 0.3990 - acc: 0.8354
Epoch 43/100
7000/7000 [==============================] - 2s 349us/step - loss: 0.3982 - acc: 0.8356
Epoch 44/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3985 - acc: 0.8376
Epoch 45/100
7000/7000 [==============================] - 2s 231us/step - loss: 0.3980 - acc: 0.8374
Epoch 46/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3979 - acc: 0.8350
Epoch 47/100
7000/7000 [==============================] - 2s 233us/step - loss: 0.3980 - acc: 0.8361
Epoch 48/100
7000/7000 [==============================] - 2s 216us/step - loss: 0.3974 - acc: 0.8359
Epoch 49/100
7000/7000 [==============================] - 2s 232us/step - loss: 0.3976 - acc: 0.8360
Epoch 50/100
7000/7000 [==============================] - 1s 193us/step - loss: 0.3970 - acc: 0.8350
Epoch 51/100
7000/7000 [==============================] - 1s 181us/step - loss: 0.3969 - acc: 0.8357
Epoch 52/100
7000/7000 [==============================] - 2s 217us/step - loss: 0.3969 - acc: 0.8360
Epoch 53/100
7000/7000 [==============================] - 1s 213us/step - loss: 0.3968 - acc: 0.8366
Epoch 54/100
7000/7000 [==============================] - 1s 204us/step - loss: 0.3965 - acc: 0.8363
Epoch 55/100
7000/7000 [==============================] - 1s 201us/step - loss: 0.3959 - acc: 0.8347
Epoch 56/100
7000/7000 [==============================] - 1s 204us/step - loss: 0.3959 - acc: 0.8356
Epoch 57/100
7000/7000 [==============================] - 2s 280us/step - loss: 0.3961 - acc: 0.8373
Epoch 58/100
7000/7000 [==============================] - 2s 247us/step - loss: 0.3957 - acc: 0.8364
Epoch 59/100
7000/7000 [==============================] - 2s 315us/step - loss: 0.3958 - acc: 0.8369
Epoch 60/100
7000/7000 [==============================] - 2s 343us/step - loss: 0.3956 - acc: 0.8367
Epoch 61/100
7000/7000 [==============================] - 2s 247us/step - loss: 0.3957 - acc: 0.8360
Epoch 62/100
7000/7000 [==============================] - 2s 294us/step - loss: 0.3950 - acc: 0.8349
Epoch 63/100
7000/7000 [==============================] - 2s 327us/step - loss: 0.3949 - acc: 0.8373
Epoch 64/100
7000/7000 [==============================] - 2s 343us/step - loss: 0.3952 - acc: 0.8366
Epoch 65/100
7000/7000 [==============================] - 3s 387us/step - loss: 0.3950 - acc: 0.8377
Epoch 66/100
7000/7000 [==============================] - 3s 417us/step - loss: 0.3950 - acc: 0.8357
Epoch 67/100
7000/7000 [==============================] - 3s 402us/step - loss: 0.3943 - acc: 0.8363
Epoch 68/100
7000/7000 [==============================] - 3s 381us/step - loss: 0.3948 - acc: 0.8376
Epoch 69/100
7000/7000 [==============================] - 2s 347us/step - loss: 0.3951 - acc: 0.8363
Epoch 70/100
7000/7000 [==============================] - 2s 352us/step - loss: 0.3946 - acc: 0.8360
Epoch 71/100
7000/7000 [==============================] - 2s 350us/step - loss: 0.3946 - acc: 0.8366
Epoch 72/100
7000/7000 [==============================] - 3s 360us/step - loss: 0.3946 - acc: 0.8376
Epoch 73/100
7000/7000 [==============================] - 2s 251us/step - loss: 0.3948 - acc: 0.8384
Epoch 74/100
7000/7000 [==============================] - 2s 259us/step - loss: 0.3947 - acc: 0.8367
Epoch 75/100
7000/7000 [==============================] - 2s 233us/step - loss: 0.3940 - acc: 0.8370
Epoch 76/100
7000/7000 [==============================] - 2s 307us/step - loss: 0.3940 - acc: 0.8369
Epoch 77/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3948 - acc: 0.8363
Epoch 78/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3942 - acc: 0.8377
Epoch 79/100
7000/7000 [==============================] - 2s 324us/step - loss: 0.3941 - acc: 0.8367
Epoch 80/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3939 - acc: 0.8383
Epoch 81/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3943 - acc: 0.8353
Epoch 82/100

7000/7000 [==============================] - 2s 335us/step - loss: 0.3942 - acc: 0.8373
Epoch 83/100
7000/7000 [==============================] - 2s 328us/step - loss: 0.3941 - acc: 0.8376
Epoch 84/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3941 - acc: 0.8380
Epoch 85/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3941 - acc: 0.8360
Epoch 86/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3940 - acc: 0.8377
Epoch 87/100
7000/7000 [==============================] - 2s 325us/step - loss: 0.3941 - acc: 0.8391
Epoch 88/100
7000/7000 [==============================] - 2s 331us/step - loss: 0.3938 - acc: 0.8369
Epoch 89/100
7000/7000 [==============================] - 2s 336us/step - loss: 0.3943 - acc: 0.8340
Epoch 90/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3938 - acc: 0.8377
Epoch 91/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3935 - acc: 0.8377
Epoch 92/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3940 - acc: 0.8367
Epoch 93/100
7000/7000 [==============================] - 2s 278us/step - loss: 0.3937 - acc: 0.8364
Epoch 94/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3936 - acc: 0.8363
Epoch 95/100
7000/7000 [==============================] - 2s 326us/step - loss: 0.3939 - acc: 0.8390
Epoch 96/100
7000/7000 [==============================] - 2s 332us/step - loss: 0.3934 - acc: 0.8371
Epoch 97/100
7000/7000 [==============================] - 2s 330us/step - loss: 0.3938 - acc: 0.8363
Epoch 98/100
7000/7000 [==============================] - 2s 329us/step - loss: 0.3941 - acc: 0.8380
Epoch 99/100
7000/7000 [==============================] - 2s 337us/step - loss: 0.3936 - acc: 0.8376
Epoch 100/100
7000/7000 [==============================] - 2s 259us/step - loss: 0.3936 - acc: 0.8380

In [22]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [25]:
# Creating the Confusion Matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[2321,   68],
       [ 412,  199]], dtype=int64)

In [27]:
from sklearn.metrics import classification_report
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.85      0.97      0.91      2389\n           1       0.75      0.33      0.45       611\n\n   micro avg       0.84      0.84      0.84      3000\n   macro avg       0.80      0.65      0.68      3000\nweighted avg       0.83      0.84      0.81      3000\n'